h1,
h2,
h3,
h4,
h5 {
  color: #83003f;
}

.tight {
  line-height: 1.25;
}

.dark {
  color: #650038;
}


/* ------------------------------------ old navigation---------------------------------------- */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #650038;
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

.btn-nav,
.btn-nav-dark {
  display: block;
  font-weight: 700;
  color: #650038;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: solid 2px #f5eff3;
  background-color: inherit;
  transition: background-color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.btn-nav:hover,
.btn-nav:focus {
  border-bottom-color: #b3025b;
  color: #b3025b;
  background-color: #f5eff3;
}

.btn-nav-dark:hover,
.btn-nav-dark:focus {
  border-bottom-color: #b3025b;
  color: #b3025b;
  background-color: #f5eff3;
}


/* .nav {
  background-color: #00b9b7;
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
} */

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

nav [type="checkbox"] + label::before {
  position: absolute;
  top: -6em;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  position: absolute;
  right: 1.3rem;
  top: 2.3rem;
  transform: translateY(-50%);
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: inline-block;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
  background-color: #b3025b;
}

.icon-logo {
  width: 202px;
  height: 49px;
}

.current {
  border-bottom: solid 2px #b3025b;
  color: #b3025b;
  background-color: #f5eff3;
}

.xs-gutter-m-no {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.nav-header {
  background-color: #fff;
}

.dark-nav-header {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  .xs-gutter-m-no {
    padding-left: 0;
    padding-right: 0;
  }

  nav [type="checkbox"] + label {
    display: none;
  }

  .nav {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .xs-gutter-m-no {
    margin-left: 3px;
    margin-right: 3px;
  }

  .nav-header {
    background-color: #b3025b;
  }

  .dark-nav-header {
    background-color: #650038;
  }


  .nav-bar {
    width: 95%;
    margin: auto;
  }

  .icon-logo {
    width: 170px;
    height: 55px;
  }

  .btn-nav {
    font-weight: 600;
    color: #fff;
    border-bottom-color: #b3025b;
    background-color: #b3025b;
    transition: none;
  }

  .btn-nav-dark {
    font-weight: 600;
    color: #fff;
    border-bottom-color: #650038;
    background-color: #650038;
    transition: none;
  }

  .btn-nav:hover,
  .btn-nav:focus {
    border-bottom-color: #b3025b;
    color: #fff;
    background-color: #b3025b;
  }

  .btn-nav-dark:hover,
  .btn-nav-dark:focus {
    border-bottom-color: #650038;
    color: #fff;
    background-color: #650038;
  }

  .l-nav-border {
    display: inline-block;
    border-bottom: solid 3px #b3025b;
  }

  .l-dark-nav-border {
    display: inline-block;
    border-bottom: solid 3px #650038;
  }

  .btn-nav:hover .l-nav-border,
  .btn-nav:focus .l-nav-border {
    border-bottom-color: #fff;
  }

  .btn-nav-dark:hover .l-dark-nav-border,
  .btn-nav-dark:focus .l-dark-nav-border {
    border-bottom-color: #fff;
  }

  .current .l-nav-border {
    border-bottom-color: #fff;
  }

  .current .l-dark-nav-border {
    border-bottom-color: #fff;
  }

  .nav {
    padding-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  .nav-bar {
    width: 100%;
  }

}

/* ------------------------------------end old navigation---------------------------------------- */

/* ------------------------------------new navigation---------------------------------------- */

.banner-test {
  height: 200px;
  width: 100%;
  background-color: blue;
}

html {
  font-family: Assistant, sans-serif;
  margin: 0;
  padding: 0;
}

.header-logo {
  width: 190px;
  height: 46px;
}

@media only screen and (min-width: 38em) {

  .header-logo {
    width: 222px;
    height: 54px;
  }

}

.masthead-wrapper {
  background-color: #b3025b;
  width: 100%;
}

.dark-masthead-wrapper {
  background-color: #650038;
  width: 100%;
}

.masthead {
  width: 100%;
  margin: auto;
}

.nav-text {
  text-align: left;
}

@media only screen and (min-width: 38em) {

  .nav-text {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    width: 97%;
    margin: auto;
  }

}

/* ------------------------------------footer contact-bar---------------------------------------- */

.footercontact-bar {
  background-color: #b3025b;
  color: #fff;
}

.fw-600 {
  font-weight: 600;
}

.text-ctr-lft-ctr {
  text-align: center;
}

.text-ctr-lft,
.text-ctr-rght {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .text-ctr-lft-ctr {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  .text-ctr-lft-ctr {
    text-align: center;
  }

  .text-ctr-lft {
    text-align: left;
  }

  .text-ctr-rght {
    text-align: right;
  }

}

/* ------------------------------------buttons---------------------------------------- */

.caps {
  text-transform: uppercase;
}

.btn-main {
  border-radius: 25px;
  padding: .35em 1.3em .3em 1.3em;
  font-weight: 700;
  border-width: 2px;
}

.btn-white {
  background-color: #fff;
  color: #b3025b;
  border-color: #fff;
  transition: background-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #b3025b;
  color: #fff;
  border-color: #fff;
}

.btn-footer {
  background-color: #b3025b;
  color: #fff;
  border-color: #b3025b;
  padding: .2em 1.1em .35em 1em;
  transition: background-color 0.2s ease-out;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #650038;
  color: #fff;
  border-color: #fff;
}

.white {
  color: #fff;
}

.tracking {
  letter-spacing: 0.05em;
}

/* ------------------------------------footer---------------------------------------- */
.footer-nav-text,
.footer-nav-text-m-right {
  text-align: center;
}

.btn-nav-footer {
  display: block;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.l-nav-border-footer {
  display: inline-block;
  border-bottom: solid 2px #650038;
}

.btn-nav-footer:hover .l-nav-border-footer,
.btn-nav-footer:focus .l-nav-border-footer {
  border-bottom-color: #fff;
}

.current-footer .l-nav-border-footer {
  border-bottom-color: #fff;
}

.line-tight {
  line-height: 1.15rem;
}

.footer {
  background-color: #650038;
  color: #fff;
}

.gutter-tagline {
  padding-left: .65rem;
  padding-right: .65rem;
  line-height: 1.15rem;
}

.footer-icon-phone {
  width: 20px;
  height: 20px;
}

.footer-icon-email {
  width: 20px;
  height: 15px;
}

.footer-icon-location {
  width: 20px;
  height: 25px;
}


.text-center-left,
.text-center-right,
.text-center-l-left {
  text-align: center;
}

@media only screen and (min-width:38em) {

  .text-center-left {
    text-align: left;
  }

  .text-center-right {
    text-align: right;
  }

  .footer-nav-text-m-right {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .text-center-l-left {
    text-align: left;
    padding-left: 6rem;
  }

  .gutter-tagline {
    padding-left: 2.68rem;
  }

  .footer-nav-text,
  .footer-nav-text-m-right {
    text-align: left;
    padding-left: 4.5rem;
  }
}

@media only screen and (min-width: 90em) {

  .gutter-tagline {
    padding-left: .3rem;
    padding-right: .3rem;
  }

}

.align-b {
  vertical-align: middle;
}

/* ------------------------------------service cards---------------------------------------- */

.card-icon {
  width: 6em;
  height: 6em;
}

.card-service {
  display: inline-block;
  background-color: #f5eff3;
  border-bottom: solid 10px #f5eff3;
  border-right: solid 5px #f5eff3;
  border-left: solid 5px #f5eff3;
  outline: solid 1px rgb(223, 201, 216);
  width: 100%;
}

.card-service:hover,
.card-service:focus {
  border-bottom-color: #b3025b;
  border-right-color: rgb(223, 201, 216);
  border-left-color: #fff;
  outline: solid 1px rgb(223, 201, 216);
  background-color: #fff;
}


.kilo-card,
.kilo-card-3 {
  font-size: .88rem;
  line-height: 1.15rem;
}


@media only screen and (min-width: 22.4em) {

  .kilo-card,
  .kilo-card-3 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

}

@media only screen and (min-width: 29em) {

  .sml-1-3 {
    width: 33.3333%;
  }

  .kilo-card-3 {
    font-size: .85rem;
    line-height: 1.1rem;
  }

}

@media only screen and (min-width: 33.7em) {

  .kilo-card-3 {
    font-size: 1rem;
    line-height: 1.4rem;
  }

}

@media only screen and (min-width: 34em) {

  .width-card-sm {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  .kilo-card {
    font-size: 1rem;
    line-height: 1.4rem;
  }

}

@media only screen and (min-width: 43em) {

  .kilo-card {
    font-size: .88rem;
    line-height: 1.15rem;
  }

  .ml-1-4 {
    width: 25%;
  }

}

@media only screen and (min-width: 49em) {

  .kilo-card {
    font-size: 1rem;
    line-height: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  .kilo-card {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}

@media only screen and (min-width:90em) {

  .kilo-card {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}


.card-section {
  background-color: #f5eff3;
}

/* ------------------------------------home page---------------------------------------- */

.burgundy {
  color: #83003f;
}

.raspberry {
  color: #b3025b;
}

.quote-main {
  width: 3.5em;
  height: 3.5em;
}

.btn-quote {
  background-color: #83003f;
  color: #fff;
  border-color: #83003f;
  transition: background-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-quote:hover,
.btn-quote:focus {
  background-color: #fff;
  color: #83003f;
  border-color: #83003f;
}

/* ------------------------------------Banner---------------------------------------- */

.banner-overtop {
  background-color: rgba(223, 201, 216, .9);
}

.overtop-m {
  display: none;
}

.overtop-xs {
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 25em) {

  .banner-overtop {
    width: 15em;
    margin-left: 2em;
  }

  .overtop-m {
    display: inline-block;
  }

  .overtop-xs {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  .banner-overtop {
    width: 19em;
  }

}

@media only screen and (min-width: 46.5em) {

  .banner-overtop {
    margin-left: 4em;
  }

}

@media only screen and (min-width: 60em) {

  .banner-overtop {
    width: 19.25em;
    margin-left: 6.5em;
  }

}

@media only screen and (min-width: 72em) {

  .banner-overtop {
    width: 19.25em;
    margin-left: 8em;
  }

}

@media only screen and (min-width: 78em) {

  .banner-overtop {
    width: 19.25em;
    margin-left: 9em;
  }

}

@media only screen and (min-width: 85em) {

  .banner-overtop {
    width: 19.25em;
    margin-left: 10em;
  }

}

.btn-banner {
  background-color: #fff;
  color: #b3025b;
  border-color: #fff;
  transition: background-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}

.btn-home-banner {
  background-color: #fff;
  color: #83003f;
  border-color: #fff;
  transition: border-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-home-banner:hover,
.btn-home-banner:focus {
  background-color: rgba(255, 255, 255, .35);
  color: #83003f;
  border-color: #83003f;
}

/* ------------------------------------Services pages---------------------------------------- */

.service-icon {
  width: 4.2em;
  height: 4.2em;
}

.bullet {
  display: inline-block;
  background-color: #83003f;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  margin-right: .5em;
}

/* ------------------------------------testimonials page---------------------------------------- */

.quote-testimonials {
  width: 2.4em;
  height: 2.4em;
}

/* -----------------------------------contact page---------------------------------------- */

@media only screen and (min-width:38em) {

  .gutter-lft {
    padding-left: .7rem;
  }

  .gutter-rght {
    padding-right: .7rem;
  }

}

input,
select,
textarea {
  display: block;
  width: 100%;
  background-color: #f5eff3;
  border: 1px solid rgb(223, 201, 216);
  border-radius: 5px;
  height: 35px;
}

/* -----------------------------------banners---------------------------------------- */

/* -----------------------------------about-us banner---------------------------------------- */

.about-us-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 125%;
  background-position: -3em -1em;
  min-height: 170px;
}

.banner-img-about-us {
  background-image: url("{{site.baseurl}}/images/banner-about.jpg");
}


@media only screen and (min-width: 25em) {

  .about-us-banner {
    background-position: 0 -1.5em;
    background-size: 105%;
  }

}

@media only screen and (min-width: 40em) {

  .about-us-banner {

    background-size: 100%;
    background-position: 0 -2em;
  }

}

@media only screen and (min-width: 50em) {

  .about-us-banner {
    background-position: 0 -3.5em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 58em) {

  .about-us-banner {
    background-position: 0 -4.5em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 67em) {

  .about-us-banner {
    background-position: 0 -6em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 76em) {

  .about-us-banner {
    background-position: 0 -7em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 81em) {

  .about-us-banner {
    background-position: 0 -8em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 93em) {

  .about-us-banner {
    background-position: 0 -9em;
    background-size: 100%;
  }

}

/* -----------------------------------contact us banner---------------------------------------- */

.contact-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 125%;
  background-position: -2em -1em;
  min-height: 170px;
}

.banner-img-contact {
  background-image: url("{{site.baseurl}}/images/banner-contact.jpg");
}


@media only screen and (min-width: 25em) {

  .contact-banner {
    background-position: 0 -1.5em;
    background-size: 105%;
  }

}

@media only screen and (min-width: 38em) {

  .contact-banner {
    background-position: 0 -1.5em;
    background-size: 100%;
  }

}


@media only screen and (min-width: 40em) {

  .contact-banner {
    background-position: 0 -2em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 44em) {

  .contact-banner {
    background-position: 0 -3em;
    background-size: 100%;
  }

}


@media only screen and (min-width: 49.3em) {

  .contact-banner {
    background-position: 0 -6em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 55.7em) {

  .contact-banner {
    background-position: 0 -8em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 64.8em) {

  .contact-banner {
    background-position: 0 -8em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 72em) {

  .contact-banner {
    background-position: 0 -11em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 90em) {

  .contact-banner {
    background-position: 0 -13em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 100em) {

  .contact-banner {
    background-position: 0 -15em;
    background-size: 100%;
  }

}

/* -----------------------------------testimonials banner---------------------------------------- */

.testimonials-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 110%;
  background-position: -1em 0;
  min-height: 170px;
}

.banner-img-testimonials {
  background-image: url("{{site.baseurl}}/images/banner-testimonials.jpg");
}


@media only screen and (min-width: 22em) {

  .testimonials-banner {
    background-size: 110%;
    background-position: -1em -1em;
  }

}

@media only screen and (min-width: 26em) {

  .testimonials-banner {
    background-size: 110%;
    background-position: -1em -2em;
  }

}

@media only screen and (min-width: 29em) {

  .testimonials-banner {
    background-size: 100%;
    background-position: 0 -2em;
  }

}

@media only screen and (min-width: 34em) {

  .testimonials-banner {
    background-size: 100%;
    background-position: 0 -3em;
  }

}

@media only screen and (min-width: 39em) {

  .testimonials-banner {
    background-size: 100%;
    background-position: 0 -4em;
  }

}

@media only screen and (min-width: 42.5em) {

  .testimonials-banner {
    background-size: 105%;
    background-position: 0 -7em;
  }

}

@media only screen and (min-width: 50em) {

  .testimonials-banner {
    background-size: 110%;
    background-position: 0 -9em;
  }

}

@media only screen and (min-width: 53.5em) {

  .testimonials-banner {
    background-size: 100%;
    background-position: 0 -9em;
  }

}

@media only screen and (min-width: 61.3em) {

  .testimonials-banner {
    background-size: 105%;
    background-position: 0 -10em;
  }

}

@media only screen and (min-width: 63.6em) {

  .testimonials-banner {
    background-size: 115%;
    background-position: -3em -9.5em;
  }

}

@media only screen and (min-width: 73.7em) {

  .testimonials-banner {
    background-size: 120%;
    background-position: -5em -11em;
  }

}

@media only screen and (min-width: 76.7em) {

  .testimonials-banner {
    background-size: 118%;
    background-position: -5em -12.7em;
  }

}

@media only screen and (min-width: 83em) {

  .testimonials-banner {
    background-size: 110%;
    background-position: -5em -13.5em;
  }

}

@media only screen and (min-width: 100em) {

  .testimonials-banner {
    background-size: 100%;
    background-position: 0 -13.5em;
  }

}

/* -----------------------------------services banner---------------------------------------- */

.services-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 110%;
  background-position: -1em 0;
  min-height: 170px;
}

.banner-img-services {
  background-image: url("{{site.baseurl}}/images/banner-services.jpg");
}

@media only screen and (min-width: 25em) {

  .services-banner {
    background-position: 0 0;
    background-size: 100%;
  }

}

@media only screen and (min-width: 32em) {

  .services-banner {
    background-position: 0 -2em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 48.5em) {

  .services-banner {
    background-position: 0 -4em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .services-banner {
    background-position: 0 -6em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 71em) {

  .services-banner {
    background-position: 0 -8em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 90em) {

  .services-banner {
    background-position: 0 -11em;
    background-size: 100%;
  }

}

@media only screen and (min-width: 105em) {

  .services-banner {
    background-position: 0 -13em;
    background-size: 100%;
  }

}

/* -----------------------------------services-cognitive banner---------------------------------------- */

.services-cognitive-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 120%;
  background-position: -2em -3em;
  min-height: 170px;
}

.banner-img-services-cognitive {
  background-image: url("{{site.baseurl}}/images/banner-services-cognitive.jpg");
}

@media only screen and (min-width: 26.7em) {

  .services-cognitive-banner {
    background-size: 105%;
    background-position: -1em -3em;
  }

}

@media only screen and (min-width: 30.6em) {

  .services-cognitive-banner {
    background-size: 105%;
    background-position: -1em -5em;
  }

}

@media only screen and (min-width: 35.4em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -5em;
  }

}

@media only screen and (min-width: 37.7em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -6em;
  }

}

@media only screen and (min-width: 41.8em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -7em;
  }

}

@media only screen and (min-width: 58em) {

  .services-cognitive-banner {
    background-size: 110%;
    background-position: -2em -9em;
  }

}

@media only screen and (min-width: 69.8em) {

  .services-cognitive-banner {
    background-size: 110%;
    background-position: -2em -11em;
  }

}

@media only screen and (min-width: 77em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -12em;
  }

}

@media only screen and (min-width: 95em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -13em;
  }

}

@media only screen and (min-width: 100em) {

  .services-cognitive-banner {
    background-size: 100%;
    background-position: 0 -14.5em;
  }

}


/* -----------------------------------services-physical banner---------------------------------------- */

.services-physical-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 160%;
  background-position: -5em 0;
  min-height: 170px;
}

.banner-img-services-physical {
  background-image: url("{{site.baseurl}}/images/banner-services-physical.jpg");
}

@media only screen and (min-width: 25em) {

  .services-physical-banner {
    background-size: 140%;
    background-position: -6em -1.2em;
  }

}

@media only screen and (min-width: 31.8em) {

  .services-physical-banner {
    background-size: 110%;
    background-position: -1em -1.2em;
  }

}

@media only screen and (min-width: 40.7em) {

  .services-physical-banner {
    background-size: 100%;
    background-position: 0 -3.3em;
  }

}

@media only screen and (min-width: 54.3em) {

  .services-physical-banner {
    background-size: 100%;
    background-position: 0 -7.5em;
  }

}

@media only screen and (min-width: 77.8em) {

  .services-physical-banner {
    background-size: 100%;
    background-position: 0 -9em;
  }

}

@media only screen and (min-width: 90em) {

  .services-physical-banner {
    background-size: 100%;
    background-position: 0 -11em;
  }

}

/* -----------------------------------services-environmental banner---------------------------------------- */

.services-safety-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 105%;
  background-position: 0 -.6em;
  min-height: 170px;
}

.banner-img-services-safety {
  background-image: url("{{site.baseurl}}/images/banner-services-safety.jpg");
}

@media only screen and (min-width: 28em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -2em;
  }

}

@media only screen and (min-width: 41.8em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -3.5em;
  }

}

@media only screen and (min-width: 50em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -4.5em;
  }

}

@media only screen and (min-width: 69em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -6em;
  }

}

@media only screen and (min-width: 83.7em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -8em;
  }

}

@media only screen and (min-width: 100em) {

  .services-safety-banner {
    background-size: 100%;
    background-position: 0 -9em;
  }

}

/* -----------------------------------services-medical banner---------------------------------------- */

.services-medical-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 159%;
  background-position: -8em 0;
  min-height: 170px;
}

.banner-img-services-medical {
  background-image: url("{{site.baseurl}}/images/banner-services-medical.jpg");
}

@media only screen and (min-width: 25em) {

  .services-medical-banner {
    background-size: 127%;
    background-position: -5em 0;
  }

}

@media only screen and (min-width: 32.8em) {

  .services-medical-banner {
    background-size: 115%;
    background-position: -4em 0;
  }

}

@media only screen and (min-width: 48em) {

  .services-medical-banner {
    background-size: 115%;
    background-position: -6em 0;
  }

}

@media only screen and (min-width: 55.8em) {

  .services-medical-banner {
    background-size: 110%;
    background-position: -5em 0;
  }

}

@media only screen and (min-width: 69.8em) {

  .services-medical-banner {
    background-size: 100%;
    background-position: 0 0;
  }

}


/* -----------------------------------services-medical banner---------------------------------------- */

/* .home-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 165%;
  background-position: -8em -.8em;
  min-height: 230px;
} */

.home-banner {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 160%;
  background-position: 0 5.5em;
  min-height: 230px;
}

.home-banner-xs {
  background-color: #650038;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  background-position: 0 -1.75em;
  min-height: 100px;
}

.banner-img-home {
  background-image: url("{{site.baseurl}}/images/banner-about.jpg");
}

@media only screen and (min-width: 25em) {

  .home-banner {
    background-size: 145%;
    background-position: -3.5em -1em;
  }

  .home-banner-xs {
    display: none;
  }

}

@media only screen and (min-width: 30em) {

  .home-banner {
    background-size: 130%;
    background-position: -3em -2.5em;
  }

}

@media only screen and (min-width: 38em) {

  .home-banner {
    background-size: 125%;
    background-position: -1.5em -2em;
  }

}

@media only screen and (min-width: 46.5em) {

  .home-banner {
    background-size: 115%;
    background-position: -.5em -4em;
  }

}

@media only screen and (min-width: 57em) {

  .home-banner {
    background-size: 110%;
    background-position: 0 -4em;
  }

}

@media only screen and (min-width: 66em) {

  .home-banner {
    background-size: 105%;
    background-position: 0 -6em;
  }

}


@media only screen and (min-width: 84.6em) {

  .home-banner {
    background-size: 100%;
    background-position: 0 -7em;
  }

}

@media only screen and (min-width: 95em) {

  .home-banner {
    background-size: 100%;
    background-position: 0 -9em;
  }

}

/* -----------------------------------about page---------------------------------------- */

.gutter-m-right,
.gutter-m-left {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width:38em) {

  .gutter-m-right {
    padding-right: .7rem;
  }

  .gutter-m-left {
    padding-left: .7rem;
  }

}

strong {
  font-weight: normal;
}
