h1,
h2,
h3,
h4,
h5 {
  color: #83003f;
}
.tight {
  line-height: 1.25;
}

/* ------------------------------------ old navigation---------------------------------------- */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #650038;
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

.btn-nav {
  display: block;
  font-weight: 700;
  color: #650038;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: solid 2px #f5eff3;
  background-color: inherit;
  transition: background-color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.btn-nav:hover,
.btn-nav:focus {
  border-bottom-color: #b3025b;
  color: #b3025b;
  background-color: #f5eff3;
}

/* .nav {
  background-color: #00b9b7;
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
} */

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

nav [type="checkbox"] + label::before {
  position: absolute;
  top: -6em;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  position: absolute;
  right: 1.3rem;
  top: 2rem;
  transform: translateY(-50%);
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: inline-block;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
  background-color: #b3025b;
}

.icon-logo {
  width: 202px;
  height: 49px;
}

.current {
  border-bottom: solid 2px #b3025b;
  color: #b3025b;
  background-color: #f5eff3;
}

.xs-gutter-m-no {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.nav-header {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  .xs-gutter-m-no {
    padding-left: 0;
    padding-right: 0;
  }

  nav [type="checkbox"] + label {
    display: none;
  }

  .nav {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .xs-gutter-m-no {
    margin-left: 3px;
    margin-right: 3px;
  }

  .nav-header {
    background-color: #b3025b;
  }

  .nav-bar {
    width: 95%;
    margin: auto;
  }

  .icon-logo {
    width: 170px;
    height: 55px;
  }

  .btn-nav {
    font-weight: 600;
    color: #fff;
    border-bottom-color: #b3025b;
    background-color: #b3025b;
    transition: none;
  }

  .btn-nav:hover,
  .btn-nav:focus {
    border-bottom-color: #b3025b;
    color: #fff;
    background-color: #b3025b;
  }

  .l-nav-border {
    display: inline-block;
    border-bottom: solid 3px #b3025b;
  }

  .btn-nav:hover .l-nav-border,
  .btn-nav:focus .l-nav-border {
    border-bottom-color: #fff;
  }

  .current .l-nav-border {
    border-bottom-color: #fff;
  }

  .nav {
    padding-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  .nav-bar {
    width: 100%;
  }

}

/* ------------------------------------end old navigation---------------------------------------- */

/* ------------------------------------new navigation---------------------------------------- */

.banner-test {
  height: 200px;
  width: 100%;
  background-color: blue;
}

html {
  font-family: Assistant, sans-serif;
  margin: 0;
  padding: 0;
}

.header-logo {
  width: 172px;
  height: 42px;
}

@media only screen and (min-width: 38em) {

  .header-logo {
    width: 202px;
    height: 49px;
  }

}

.masthead-wrapper {
  background-color: #b3025b;
  width: 100%;
}

.masthead {
  width: 100%;
  margin: auto;
}

.nav-text {
  text-align: left;
}

@media only screen and (min-width: 38em) {

  .nav-text {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    width: 97%;
    margin: auto;
  }

}

/* ------------------------------------footer contact-bar---------------------------------------- */

.footercontact-bar {
  background-color: #b3025b;
  color: #fff;
}

.fw-600 {
  font-weight: 600;
}

.text-ctr-lft-ctr {
  text-align: center;
}

.text-ctr-lft {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .text-ctr-lft-ctr {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  .text-ctr-lft-ctr {
    text-align: center;
  }

  .text-ctr-lft {
    text-align: left;
  }

}

/* ------------------------------------buttons---------------------------------------- */

.caps {
  text-transform: uppercase;
}

.btn-main {
  border-radius: 25px;
  padding: .35em 1.1em .25em 1.1em;
  font-weight: 700;
  border-width: 2px;
}

.btn-white {
  background-color: #fff;
  color: #b3025b;
  border-color: #fff;
  transition: background-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #b3025b;
  color: #fff;
  border-color: #fff;
}

.btn-footer {
  background-color: #b3025b;
  color: #fff;
  border-color: #b3025b;
  padding: .2em 1.1em .35em 1em;
  transition: background-color 0.2s ease-out;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #650038;
  color: #fff;
  border-color: #fff;
}

.white {
  color: #fff;
}

.tracking {
  letter-spacing: 0.05em;
}

/* ------------------------------------footer---------------------------------------- */
.footer-nav-text,
.footer-nav-text-m-right {
  text-align: center;
}

.btn-nav-footer {
  display: block;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.l-nav-border-footer {
  display: inline-block;
  border-bottom: solid 2px #650038;
}

.btn-nav-footer:hover .l-nav-border-footer,
.btn-nav-footer:focus .l-nav-border-footer {
  border-bottom-color: #fff;
}

.current-footer .l-nav-border-footer {
  border-bottom-color: #fff;
}

.line-tight {
  line-height: 1.15rem;
}

.footer {
  background-color: #650038;
  color: #fff;
}

.gutter-tagline {
  padding-left: .65rem;
  padding-right: .65rem;
  line-height: 1.15rem;
}

.footer-icon-phone {
  width: 20px;
  height: 20px;
}

.footer-icon-email {
  width: 20px;
  height: 15px;
}

.footer-icon-location {
  width: 20px;
  height: 25px;
}


.text-center-left,
.text-center-right,
.text-center-l-left {
  text-align: center;
}

@media only screen and (min-width:38em) {

  .text-center-left {
    text-align: left;
  }

  .text-center-right {
    text-align: right;
  }

  .footer-nav-text-m-right {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .text-center-l-left {
    text-align: left;
    padding-left: 6rem;
  }

  .gutter-tagline {
    padding-left: 2.68rem;
  }

  .footer-nav-text,
  .footer-nav-text-m-right {
    text-align: left;
    padding-left: 4.5rem;
  }
}

@media only screen and (min-width: 90em) {

  .gutter-tagline {
    padding-left: .3rem;
    padding-right: .3rem;
  }

}

.align-b {
  vertical-align: middle;
}

/* ------------------------------------service cards---------------------------------------- */

.card-icon {
  width: 6em;
  height: 6em;
}

.card-service {
  display: inline-block;
  background-color: #f5eff3;
  border-bottom: solid 10px #f5eff3;
  border-right: solid 5px #f5eff3;
  border-left: solid 5px #f5eff3;
  outline: solid 1px rgb(223, 201, 216);
  width: 100%;
}


.card-service:hover,
.card-service:focus {
  border-bottom-color: #b3025b;
  border-right-color: rgb(223, 201, 216);
  border-left-color: #fff;
  outline: solid 1px rgb(223, 201, 216);
  background-color: #fff;
}

@media only screen and (min-width: 34em) {

  .width-card-sm {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

}

@media only screen and (min-width: 43em) {

  .ml-1-4 {
    width: 25%;
  }

}

.card-section {
  background-color: #f5eff3;
}

/* ------------------------------------home page---------------------------------------- */

.burgundy {
  color: #83003f;
}

.raspberry {
  color: #b3025b
}

.quote-main {
  width: 3.5em;
  height: 3.5em;
}

.btn-quote {
  background-color: #83003f;
  color: #fff;
  border-color: #83003f;
  transition: background-color 0.2s ease-out;
  letter-spacing: 0.02em;
}

.btn-quote:hover,
.btn-quote:focus {
  background-color: #fff;
  color: #83003f;
  border-color: #83003f;
}
