<section>
  <div class="footercontact-bar gutter">
    <div class="grid grid-middle max-length pad-t-2 pad-b">
      <div class="unit xs-1 s-1 m-2-3 l-2-3 text-ctr-lft">
        <h2 class="push giga fw-600 white">Learn how we can help you!</h2>
      </div>
      <div class="unit xs-1 s-1 m-1-3 l-1-3 text-ctr-rght">
        <a class="btn btn-main btn-white milli caps push" href="{{site.baseurl}}/contact.html" aria-label="Click to go to contact page to fill in the form or get our contact information">Contact us</a>
      </div>
    </div>
  </div>
</section>
