<header class="dark-masthead-wrapper">

  <div class="grid grid-middle masthead">
    <div class="unit xs-1 s-1 m-1 l-1-3 xl-1-2">
      <div class="pad-t-1-2 pad-b-1-2">
        <div class="gutter">
          <a class="nav-logo" aria-label="Click to go to home page" href="{{site.baseurl}}/">
            <i class="icon header-logo">
              <img class="img-flex" src="{{site.baseurl}}/images/icon-logo.svg" alt="Logo of Self-Sufficient seniors inc.">
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1 l-2-3 xl-1-2">
      <nav>
        <input type="checkbox" class="nav-check" id="nav-check">
        <label class="nav-label" for="nav-check">
          <img class="nav-open img-flex" src="{{site.baseurl}}/images/icon-menu.svg" alt="open navigation">
          <img class="nav-close img-flex" src="{{site.baseurl}}/images/icon-x-menu.svg" alt="close navigation">
        </label>
        <div class="dark-nav-header nav" role="navigation" id="nav" tabindex="0">
          <ul class="grid list-group nav-list milli nav-text">
            <li class="unit xs-1 s-1 m-1-5 l-1-5"><a href="{{site.baseurl}}/index.html" aria-label="Click to go to home page" class="{% if page.url == '/' %}current{% endif %} btn-nav-dark pad-t-1-2 pad-b-1-2 xs-gutter-m-no"><span class="l-dark-nav-border">Home</span></a></li>
            <li class="unit xs-1 s-1 m-1-5 l-1-5"><a href="{{site.baseurl}}/services/index.html" aria-label="Click to go to services page" class="{% if page.url contains '/services/' %}current{% endif %} btn-nav-dark pad-t-1-2 pad-b-1-2 xs-gutter-m-no"><span class="l-dark-nav-border">Services</span></a></li>
            <li class="unit xs-1 s-1 m-1-5 l-1-5"><a href="{{site.baseurl}}/about-us.html" aria-label="Click to go to about us page" class="{% if page.url contains '/about-us' %}current{% endif %} btn-nav-dark pad-t-1-2 pad-b-1-2 xs-gutter-m-no"><span class="l-dark-nav-border">About us</span></a></li>
            <li class="unit xs-1 s-1 m-1-5 l-1-5"><a href="{{site.baseurl}}/contact.html" aria-label="Click to go to contact page" class="{% if page.url contains '/contact' %}current{% endif %} btn-nav-dark pad-t-1-2 pad-b-1-2 xs-gutter-m-no"><span class="l-dark-nav-border">Contact</span></a></li>
            <li class="unit xs-1 s-1 m-1-5 l-1-5"><a href="{{site.baseurl}}/testimonials.html" aria-label="Click to go to testimonials page" class="{% if page.url contains '/testimonials' %}current{% endif %} btn-nav-dark pad-t-1-2 pad-b-1-2 xs-gutter-m-no"><span class="l-dark-nav-border">Testimonials</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</header>
