<div>
  <ul class="grid grid-middle list-group">

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to physical health programs page" href="{{site.baseurl}}/services/physical-health.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-8 inline-block">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-physical-health.svg" alt="Physical health icon">
          </i>
        </div>
        <div class="pad-b-1-2">
          <h4 class="kilo-card tight push-1-2 raspberry">Physical<br>Health</h4>
        </div>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to environmental safety service page" href="{{site.baseurl}}/services/environmental-safety.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-8 inline-block">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-environmental-safety.svg" alt="Environmental safety icon">
          </i>
        </div>
        <div class="pad-b-1-2">
          <h4 class="kilo-card tight push-1-2 raspberry">Environmental<br>Safety</h4>
        </div>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to cognitive and mental acuity programs page" href="{{site.baseurl}}/services/cognitive-and-mental-acuity.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-8 inline-block">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-cognitive-awareness.svg" alt="Cognitive and mental acuity icon">
          </i>
        </div>
        <div class="pad-b-1-2">
          <h4 class="kilo-card tight push-1-2 raspberry">Cognitive & Mental<br>Acuity</h4>
        </div>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to Individualized Healthcare Awareness service page" href="{{site.baseurl}}/services/individualized-healthcare-awareness.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-8 inline-block">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-medical-awareness.svg" alt="Individualized Healthcare awareness icon">
          </i>
        </div>
        <div class="pad-b-1-2">
          <h4 class="kilo-card tight push-1-2 raspberry">Individualized<br>Healthcare Awareness</h4>
        </div>
      </a>
    </li>


  </ul>
</div>
