<div>
  <ul class="grid grid-middle list-group">

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to physical health programs page" href="{{site.baseurl}}/services/physical-health.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-4 inline-block">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-physical-health.svg" alt="Physical health icon">
          </i>
        </div>
        <h4 class="kilo tight push-1-2">Physical<br>Health</h4>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to cognitive and mental awareness programs page" href="{{site.baseurl}}/services/cognitive-and-mental-awareness.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-4">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-cognitive-awareness.svg" alt="Cognitive and mental awareness icon">
          </i>
        </div>
        <h4 class="kilo tight push-1-2">Cognitive & Mental<br>Awareness</h4>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to health and medical awareness service page" href="{{site.baseurl}}/services/health-and-medical-awareness.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-4">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-medical-awareness.svg" alt="Health and medical awareness icon">
          </i>
        </div>
        <h4 class="kilo tight push-1-2">Health & Medical<br>Awareness</h4>
      </a>
    </li>

    <li class="unit xs-1-2 ml-1-4 l-1-4 text-center gutter-1-8">
      <span class="card-border"></span>
      <a class="card-service pad-t" aria-label="Click to go to environmental safety service page" href="{{site.baseurl}}/services/environmental-safety.html">
        <div class="push-1-2 gutter">
          <i class="icon card-icon push-1-4">
            <img class="img-flex" src="{{site.baseurl}}/images/icon-environmental-safety.svg" alt="Environmental safety icon">
          </i>
        </div>
        <h4 class="kilo tight push-1-2">Environmental<br>Safety</h4>
      </a>
    </li>
  </ul>
</div>
