<div>
  <ul>
    <li><a aria-label="Click to go to physical health programs page" href="{{site.baseurl}}/services/physical-health.html">Physical Health</a></li>
    <li><a aria-label="Click to go to health and medical awareness service page" href="{{site.baseurl}}/services/health-and-medical-awareness.html">Health and Medical Awareness</a></li>
    <li><a aria-label="Click to go to cognitive and mental awareness programs page" href="{{site.baseurl}}/services/cognitive-and-mental-awareness.html">Cognitive and Mental Awareness</a></li>
    <li><a aria-label="Click to go to environmental safety service page" href="{{site.baseurl}}/services/environmental-safety.html">Environmental Safety</a></li>
  </ul>
</div>
