<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,600,700&display=swap" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navigation</a></li>
  </ul>

  {{content}}

  <footer role="contentinfo" tabindex="0" class="footer pad-t-2 gutter pad-b-1-2">
    <div class="grid grid-top">

      <div class="unit xs-1 s-1 m-1 l-1-4">
        <div class="">
          <div class="gutter-1-2 text-ctr-lft push-1-2">
            <a class="nav-logo" aria-label="Click to go to home page" href="{{site.baseurl}}/">
              <i class="icon header-logo">
                <img class="img-flex" src="{{site.baseurl}}/images/icon-logo.svg" alt="Logo of Self-Sufficient seniors inc.">
              </i>
            </a>
          </div>
          <div class="text-ctr-lft push">
            <p class="micro inline-block gutter-tagline push"><strong>Prolonging independence</strong>,<br>one visit at a time</p>
          </div>
        </div>
      </div>

      <div class="unit xs-1 s-1 m-1 l-1-2">
        <div class="push-1-2 text-center-l-left">
          <div class="btn btn-main btn-footer">
            <a href="tel:613-914-1778" aria-label="Click to call Self-Sufficient seniors inc." class="white fw-600 milli tracking">
              <div class="inline-block gutter-1-8">
                <i class="icon footer-icon-phone">
                  <img class="img-flex" src="{{site.baseurl}}/images/icon-phone.svg" alt="Phone icon">
                </i>
              </div>
              <div class="inline-block align-b">613-914-1778</div>
            </a>
          </div>
        </div>

        <div class="push-1-2 text-center-l-left">
          <div class="btn btn-main btn-footer">
            <a href="mailto:selfsufficientseniors@gmail.com" aria-label="Click to write email to Self-Sufficient seniors inc." class="white fw-600 milli tracking">
              <div class="inline-block gutter-1-8">
                <i class="icon footer-icon-email">
                  <img class="img-flex" src="{{site.baseurl}}/images/icon-email.svg" alt="Email icon">
                </i>
              </div>
              <div class="inline-block align-b">selfsufficientseniors@gmail.com</div>
            </a>
          </div>
        </div>

        <div class="push-2 text-center-l-left">
          <div class="inline-block gutter-1-8">
            <i class="icon footer-icon-location">
              <img class="img-flex" src="{{site.baseurl}}/images/icon-location.svg" alt="Location icon">
            </i>
          </div>
          <div class="inline-block align-b micro text-left line-tight">Services are provided to <strong>seniors and families</strong><br>in <strong>Ottawa</strong> and the surrounding areas.</div>
        </div>

      </div>

      <div class="unit xs-1 s-1 m-1 l-1-4 push-1-2">
        <div class="push gutter-1-2">
          <ul class="grid list-group nav-list micro footer-nav-text push-1-4">
            <li class="unit xs-1 m-1-5 l-1"><a href="{{site.baseurl}}/index.html" aria-label="Click to go to Self-Sufficient seniors home page" class="{% if page.url == '/' %}current-footer{% endif %} btn-nav-footer pad-t-1-4 pad-b-1-4"><span class="l-nav-border-footer">Home</span></a></li>
            <li class="unit xs-1 m-1-5 l-1"><a href="{{site.baseurl}}/services/index.html" aria-label="Click to go to services page" class="{% if page.url contains '/services/' %}current-footer{% endif %} btn-nav-footer pad-t-1-4 pad-b-1-4"><span class="l-nav-border-footer">Services</span></a></li>
            <li class="unit xs-1 m-1-5 l-1"><a href="{{site.baseurl}}/about-us.html" aria-label="Click to go to about us page" class="{% if page.url contains '/about-us' %}current-footer{% endif %} btn-nav-footer pad-t-1-4 pad-b-1-4"><span class="l-nav-border-footer">About us</span></a></li>
            <li class="unit xs-1 m-1-5 l-1"><a href="{{site.baseurl}}/contact.html" aria-label="Click to go to contact page" class="{% if page.url contains '/contact' %}current-footer{% endif %} btn-nav-footer pad-t-1-4 pad-b-1-4"><span class="l-nav-border-footer">Contact</span></a></li>
            <li class="unit xs-1 m-1-5 l-1"><a href="{{site.baseurl}}/testimonials.html" aria-label="Click to go to testimonials page" class="{% if page.url contains '/testimonials' %}current-footer{% endif %} btn-nav-footer pad-t-1-4 pad-b-1-4"><span class="l-nav-border-footer">Testimonials</span></a></li>
          </ul>
        </div>
      </div>

      <div class="unit xs-1">
        <div class="grid pad-b-1-2">
          <div class="unit xs-1 m-1-2 l-3-4 text-center-left gutter-1-2">
            <p class="push-0 micro pad-t-1-8 pad-b-1-8">© 2019 Self-Sufficient Seniors inc.</p>
          </div>
          <div class="unit xs-1 m-1-2 l-1-4 footer-nav-text-m-right">
            <div class="push-0 micro gutter-1-2"><a href="https://ksnz.ca/" aria-label="Click to go to designer's web page - ksnz.ca" class="white inline-block pad-t-1-8 pad-b-1-8">Designed by <span class="tracking fw-600">ksnz</span></a></div>
          </div>
        </div>
      </div>

  </footer>
</body>
</html>
