<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Self-Sufficient Seniors</title>
</head>
<body>

<header>
  <strong>Self-Suficient Seniors</strong>
  <nav>
    <ul>
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li><a href="{{site.baseurl}}/services/index.html">Services</a></li>
      <li><a href="{{site.baseurl}}/about-us.html">About us</a></li>
      <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
      <li><a href="{{site.baseurl}}/testimonials.html">Testimonials</a></li>
    </ul>
  </nav>
</header>

{{content}}

</body>
</html>
